<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>

        <input type="email" name="email" id="email" placeholder="Email" autocomplete="">
        <input type="password" name="password" id="password" placeholder="password">
        <input type="submit" value="Register" id="submit">
</body>
<script>
    let btn = document.getElementById('submit').addEventListener('click', async()=> {
        alert('clicked')
      try {
        const resp = await fetch('http://localhost:1000/api/login')
        console.log("Hi")
        if (!resp.ok){
            console.log(`${resp.status}`)
        }
        const data = await resp.json()
        console.log(data)
      } catch (error) {
        if (error instanceof TypeError){
            console.error('typeError',error.message)
        }else{
            console.error('Error fetching data: ', error.message)
        }
      }
      
    })
    
    </script>
</html>